@tailwind base;
@tailwind components;
@tailwind utilities;


.Fondo {
  background-image: url('../../../assets/images/fondo-inicio.jpg');
  background-size: cover;
  height: calc(145vh - 100px); /* Toma el 100% del viewport height y resta la altura del header */
  /* Toma el 100% del viewport height y resta la altura del header */
  overflow-x: hidden;
  overflow: hidden;
}

::-webkit-scrollbar{
  overflow: hidden;
}



.box {
  background-color: rgba(240, 240, 240, 0.8); /* Ajustar el valor alfa aquí */
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inner-box {
  background-color: #ffffff75;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inner-box h2 {

  font-size: 50px;
  margin: 0;
}
.inner-box h3 {

  font-size: 25px;
  margin: 0;
  text-align:center;
  color: rgb(83, 82, 82);

}

.content h2 {
  font-size: 35px;
}

.content h3 {
  font-size: 20px;
  color: rgb(83, 82, 82);
}


.inc{

  font-size: 2;
}

p{
  font-size: 20px;
  text-align: start;

}
/* Alinea los elementos label y los campos de entrada uno debajo del otro */


form{
  display: flex;
  flex-direction: column;
  margin: 2px;
  align-self: start;
  font-size: 30px;
  margin-right: 300px;
  margin-top: 40px;

}
#razon{
  width: 900px;
  height: 325px;
  border-radius: 10px;
  font-size: 16px;

}

.btnenter{

  border-radius: 10px;
  border: solid 2px;
  background-color: #ceb25d00;
  height: 32px;
  font-size: 18px;
  width: 100px;
  cursor: pointer;
  transition: transform.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnenter:hover{

  transform: scale(1.2);
}

.btnenter2{

  border-radius: 10px;
  border: solid 2px;
  background-color: #CEB25D;
  height: 32px;
  font-size: 18px;
  width: 170px;
  cursor: pointer;
  transition: transform.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnenter2:hover{

  transform: scale(1.15);
}

.btnenter3{

  border-radius: 10px;
  border: solid 2px;
  background-color: red;
  height: 32px;
  font-size: 18px;
  width: 230px;
  cursor: pointer;
  transition: transform.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnenter3:not(:disabled):hover{
  transform: scale(1.15);
}

#linkRecovery{
  color: rgb(117, 44, 44);
  text-decoration: underline;
}
#linkRecovery:focus{
  color: #97791d
}




.imglogo2{

  position:absolute;top:259px;right:0px;bottom:0px;left:759px;
  width: 240px;
  opacity: 0.4;
  transform: scaleX(-1);
}

#checkbox{
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 15px;
}
