@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-vertical{
    margin-top: 10px;
	position: absolute;
	display: none;
	list-style: none;
	width: 400px;
    background: #ccbea3c4;
	z-index: 10;
	margin-right: 10px;
}

.carritocompras li:hover .menu-vertical{
    display: block;
}

.menu-vertical li{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}


/* Menu Navegacion */



#topbar-search {
  background-color: #111a2bc7;
  /* background-image: url('./assets/images/patron_madera3.png'); */
  background-blend-mode: screen;
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
  border-radius: 21px;

}


#header {
  background-color: #111a2b00;
  background-size: cover;
  background-position: center;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  position: relative;
  z-index: 2;
}

#fondo_menu {
  background-color: #111A2B;
  background-repeat: repeat-y;
}

#nav {
  display: flex;
  list-style: none;

}

#indicadorCarrito{
  right: 100px;
  font-size: 16px;
  width: 21px;
  height: 21px;
}

#nav #enlace_menuv a {
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
}

#logoNexusBattle{
  transition: background-color 0.3s ease;
}
#logoNexusBattle:hover p{
  color: #dbaf29
}

#nav #enlace_menuv a:hover {
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: #dbaf29
  /* #CEB25D */
}

#boton_menu_nav:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#enlace_menuv mat-icon{
  height: 27px;
  width: 27px;
}
