


<main id="contenedor-vitrina" class="relative bg-center">

  <!-- Fondo Transparente Azul -->
  <div class="fondt">

  </div>

  <!-- Contenido -->
  <div class="cajahome flex justify-center items-center">

    <div class="z-10">
      <h1 class="text-white text-[50px] max-w-[900px] font-bold">Explora un mundo de conexiones, comparte tus historias y crea vínculos que perduran en nuestra comunidad digital.</h1>
      <a href="/register" class="btnenter text-center flex justify-center items-center " type="submit">Registrarse</a>
    </div>
    <div class="bienvenida">

    </div>
  </div>



</main>

