#contenedor-vitrina {
  background-color: #111A2B;
  height: calc(115vh - 100px);
  /* height: 100%; */
}

.fondt{
  background-color: #111a2bc7;
  height: 100%;
  width: 100%;
  position: absolute;

  z-index: 2;
}

.cajahome{
  background-image: url('../../../../assets/images/Fachada_edificio_J.JPG');
  background-color: black;
  height: 100%;
  z-index: 1;
}

.bienvenida{
  background-image: url('../../../../assets/images/homecel.png');
  background-size: cover;
  height: 450px;
  width: 450px;
  z-index: 2;
}

.btnenter{

  border-radius: 21px;
  background-color: #dbaf29;
  height: 48px;
  font-size: 22px;
  width: 190px;
  cursor: pointer;
  transition: transform.5s;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.btnenter:hover{
  background-color: #a38427;
}

