

#contenedor-vitrina {
  background-color: #111A2B;
  height: calc(125vh - 100px);

  /* height: 100%; */
}

.fondt{
  background-color: #111a2b;
  height: 100%;
  width: 100%;
  position: absolute;

  z-index: 2;
}

#username, #password{
  width: 600px;
  height: 50px;
  border-radius: 11px;
}

.cajahome{

  background-color: #111a2b;
  height: 100%;
  z-index: 1;
}

.bienvenida{
  background-image: url('../../../../assets/images/homecel.png');
  background-size: cover;
  height: 450px;
  width: 450px;
  z-index: 2;
}

.btnenter{

  border-radius: 21px;
  background-color: #374154;
  height: 38px;
  font-size: 17px;
  width: 150px;
  cursor: pointer;
  transition: transform.5s;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

.btnenter:hover{
  background-color: #2d3542;
}









#checkbox{
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 15px;
}








/* Terminos y Condiciones */

.container3 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container3::-webkit-scrollbar {
  width: 4px;
  scrollbar-width: thin;
  scrollbar-color: rgb(168, 98, 98);
  scrollbar-darkshadow-color: #111A2B;

}

.container3::-webkit-scrollbar-thumb{
  background-color: rgba(28, 33, 100, 0.733);
  border-radius: 30px;
}

.container3::-webkit-scrollbar-track{
  background-color: #111a2b70;
  border-radius: 5px;
  margin-top: 25px;

}

.container3 h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content {
  background-color: #fff;
  border-radius: 5px;

}

.content h2 {
  font-size: 18px;
  margin-top: 15px;
}

/* Ejemplo de estilo para los párrafos de contenido */
.content p {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* Ejemplo de estilo para las viñetas de listas */
.content ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Ejemplo de estilo para los enlaces */
.content a {
  color: #007bff;
  text-decoration: underline;
}







