@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Irish Grover';
}



.Fondo {
  background-image: url('../../../../assets/images/fondo-inicio.jpg');
  background-size: cover;
  height: calc(145vh - 100px); /* Toma el 100% del viewport height y resta la altura del header */
  /* Toma el 100% del viewport height y resta la altura del header */
  overflow-x: hidden;
}





.box {
  background-color: rgba(240, 240, 240, 0.8); /* Ajustar el valor alfa aquí */
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inner-box {
  background-color: #ffffff75;
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inner-box h2 {

  font-size: 50px;
  margin: 0;
}
.inner-box h3 {

  font-size: 20px;
  margin: 0;
  text-align:center;
  color: rgb(83, 82, 82);

}

.inc{

  font-size: 2;
}

p{
  font-size: 20px;
  text-align: start;

}
/* Alinea los elementos label y los campos de entrada uno debajo del otro */

.BTN{

  text-align: center;
  margin-right: 50px;


}
form{
  display: flex;
  flex-direction: column;
  margin: 2px;
  align-self: start;
  font-size: 30px;
  margin-right: 300px;
  margin-top: 40px;

}

form select{
  font-size: 15px; /* Ajusta el tamaño de fuente según tus necesidades */
  margin-bottom: 20px;

}

#inputfield{
  width: 300px;
  height: 35px;
  border-radius: 10px;

  margin-bottom: 10px;
  font-size: 15px;
}

#inputfieldPregunta{
  width: 300px;
  height: 35px;
  border-radius: 10px;
  padding-top: 4px;
  margin-bottom: 10px;
  font-size: 15px;
}


.btnenter{

  border-radius: 10px;
  border: solid 2px;
  background-color: #CEB25D;
  height: 32px;
  font-size: 18px;
  width: 55%;
  cursor: pointer;
  transition: transform.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnenter:not(:disabled):hover {
  transform: scale(1.2);
}

.imglogo{

  position:absolute;top:2px;right:0px;bottom:0;left:540px;
  width: 240px;
  transition: transform.5s;
  cursor: pointer;
}



.imglogo2{

  position:absolute;top:89px;right:0px;bottom:0px;left:280px;
  width: 600px;
  height: 800px;
  opacity: 1;
  z-index: 1;
}


#Avatar_Icon1, #Avatar_Icon2, #Avatar_Icon3, #Avatar_Icon4{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  border-radius: 30px;
  background-image: url('../../../../assets/images/FondoCastillo.png');
  background-position: center;
}

#formulario label {
  font-size: 23px;
  margin-bottom: 10px;
}

#checkbox{
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 15px;
}

/* Terminos y Condiciones */

.container3 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container3::-webkit-scrollbar {
  width: 4px;
  scrollbar-width: thin;
  scrollbar-color: rgb(168, 98, 98);
  scrollbar-darkshadow-color: #dbaf29;

}

.container3::-webkit-scrollbar-thumb{
  background-color: rgba(255, 242, 0, 0.733);
  border-radius: 30px;
}

.container3::-webkit-scrollbar-track{
  background-color: #b88f1596;
  border-radius: 5px;
  margin-top: 25px;

}

.container3 h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content {
  background-color: #fff;
  border-radius: 5px;

}

.content h2 {
  font-size: 18px;
  margin-top: 15px;
}

/* Ejemplo de estilo para los párrafos de contenido */
.content p {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* Ejemplo de estilo para las viñetas de listas */
.content ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Ejemplo de estilo para los enlaces */
.content a {
  color: #007bff;
  text-decoration: underline;
}



@media (min-width: 1825px){

  .container {
    left: 10%;
}

}

@media (max-width: 1525px){

  .container {
    left: 6%;
}

}


