
<main id="contenedor-vitrina" class="relative bg-center">


  <div class="cajahome flex flex-col justify-center items-center -mt-16">


  <div id="logoNexusBattle" class="relative mb-10">
    <a href="#" class="flex items-center space-x-4">
      <img src="../../../../assets/images/Escudo_UPB.png" class="w-[100px] h-[100px]" alt="Nexus Battle II Logo"/>
      <p class="text-white text-[60px]">UPB</p>
    </a>
  </div>

    <div class="flex z-10 space-x-2 text-[12px] mb-12">
      <h1 class="text-[#737A89] hover:text-[#8990a0] cursor-pointer"><a href="/login">Iniciar Sesion</a></h1><h1 class="text-[#737A89]">or</h1><h1 class="text-[#6997EB]" >Registro</h1>
    </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" method="post">

          <div class="flex flex-col">
            <label for="username" class="text-[#6279A4] text-[21px] mb-2">Nombre</label>
            <input type="text" id="username" formControlName="name" required
            class="
                    invalid:border-red-400 invalid:text-red-400
                    focus:invalid:border-red-400 focus:invalid:ring-red-400" required>
                    <mat-error class="text-[10px] text-red-400 mt-1 ml-3 mb-2">{{ getErrorMessage('name') }}</mat-error>
          </div>

          <div class="flex flex-col">
            <label for="username" class="text-[#6279A4] text-[21px] mb-2">Apellido</label>
            <input type="text" id="username" formControlName="last_name" required
            class="
                    invalid:border-red-400 invalid:text-red-400
                    focus:invalid:border-red-400 focus:invalid:ring-red-400" required>
                    <mat-error class="text-[10px] text-red-400 mt-1 ml-3 mb-2">{{ getErrorMessage('last_name') }}</mat-error>
          </div>

          <div class="flex flex-col">
            <label for="username" class="text-[#6279A4] text-[21px] mb-2">Usuario</label>
            <input type="text" id="username" formControlName="username" required
            class="
                    invalid:border-red-400 invalid:text-red-400
                    focus:invalid:border-red-400 focus:invalid:ring-red-400" required>
                    <mat-error class="text-[10px] text-red-400 mt-1 ml-3 mb-2">{{ getErrorMessage('username') }}</mat-error>
          </div>


          <div class="flex flex-col">
            <label for="email" class="text-[#6279A4] text-[21px] mb-2">Correo</label>
            <input type="email" id="password" formControlName="email" required
            class="
            invalid:border-red-400 invalid:text-red-400
            focus:invalid:border-red-400 focus:invalid:ring-red-400" required>
            <mat-error class="text-[10px] text-red-400 mt-1 ml-3 mb-2">{{ getErrorMessage('email') }}</mat-error>
          </div>

          <div class="flex flex-col">
            <label for="password" class="text-[#6279A4] text-[21px] mb-2">Contraseña</label>
            <input type="password" id="password" formControlName="password" required
            class="
            invalid:border-red-400 invalid:text-red-400
            focus:invalid:border-red-400 focus:invalid:ring-red-400" required>
            <mat-error class="text-[10px] text-red-400 mt-1 ml-3 mb-2">{{ getErrorMessage('password') }}</mat-error>
          </div>



          <div class="terms flex items-start space-x-2 mt-3">
            <input type="checkbox" id="checkbox" formControlName="checkterms" class="w-5" required>
            <div class="text-[16px] mt-[2px] text-[#737A89]">Acepto los <a (click)="openModal(modalTemplate)" class="terlink text-[#6997EB] hover:text-blue-400 cursor-pointer underline" >terminos y condiciones</a></div>
          </div>



          <div class="flex items-center justify-around mt-6">


            <button class="btnenter mr-10  text-white" type="submit" (click)="mostrarMensaje()" [disabled]="isSubmitting">Registrarse</button>

          </div>
      </form>
    </div>



</main>

                    <ng-template #modalTemplate>
                      <div class="container3 overflow-y-auto max-h-[601px] z-10">
                        <div class="content">
                          <h2><strong>Introducción</strong></h2>
                          <p>Los presentes términos y condiciones regulan el acceso y uso de la aplicación "CodeMania", desarrollada por la Facultad de Ingeniería de Sistemas e Informática de la Universidad Pontificia Bolivariana Seccional Bucaramanga.</p>

                          <h2><strong>Definiciones</strong></h2>
                          <p>Para los efectos de los presentes términos y condiciones, se entenderá por:</p>
                          <p><strong>"Aplicación":</strong> La aplicación "CodeMania", desarrollada por la Facultad de Ingeniería de Sistemas e Informática de la Universidad Pontificia Bolivariana Seccional Bucaramanga.</p>
                          <p><strong>"Usuario":</strong> Toda persona que acceda y utilice la Aplicación.</p>
                          <p><strong>"Términos y condiciones":</strong> Los presentes términos y condiciones.</p>

                          <h2>Acceso a la Aplicación</h2>
                          <p>El acceso a la Aplicación es gratuito. Para acceder a la Aplicación, el Usuario deberá registrarse en la misma.</p>

                          <h2>Registro</h2>
                          <p>Para registrarse en la Aplicación, el Usuario deberá proporcionar los siguientes datos:</p>
                          <p><strong>Nombre completo</strong></p>
                          <p><strong>Correo electrónico</strong></p>
                          <p><strong>Nombre de usuario</strong></p>
                          <p><strong>Contraseña</strong></p>
                          <p>El Usuario es responsable de la veracidad y exactitud de los datos proporcionados en el registro.</p>

                          <h2>Uso de la Aplicación</h2>
                          <p>El Usuario podrá utilizar la Aplicación para los siguientes fines:</p>
                          <p>- Acceder a información sobre los Proyectos Integradores de la Facultad de Ingeniería de Sistemas e Informática de la Universidad Pontificia Bolivariana Seccional Bucaramanga.</p>
                          <p>- Divulgar los resultados de sus proyectos.</p>
                          <p>- Participar en Jornadas de Socialización de Proyectos.</p>
                          <p>El Usuario se compromete a utilizar la Aplicación de manera responsable y adecuada.</p>

                          <h2>Protección de datos personales</h2>
                          <p>La Facultad de Ingeniería de Sistemas e Informática de la Universidad Pontificia Bolivariana Seccional Bucaramanga se compromete a proteger los datos personales de los Usuarios.</p>
                          <p>Los datos personales de los Usuarios serán utilizados exclusivamente para los fines establecidos en los presentes términos y condiciones.</p>

                          <h2>Seguridad</h2>
                          <p>La Facultad de Ingeniería de Sistemas e Informática de la Universidad Pontificia Bolivariana Seccional Bucaramanga ha adoptado las medidas de seguridad necesarias para proteger los datos personales de los Usuarios.</p>

                          <h2>Modificación de los términos y condiciones</h2>
                          <p>La Facultad de Ingeniería de Sistemas e Informática de la Universidad Pontificia Bolivariana Seccional Bucaramanga se reserva el derecho a modificar los presentes términos y condiciones en cualquier momento.</p>

                          <h2>Denuncias</h2>
                          <p>Si el Usuario tiene alguna queja o denuncia sobre la Aplicación, podrá comunicarla a la Facultad de Ingeniería de Sistemas e Informática de la Universidad Pontificia Bolivariana Seccional Bucaramanga a través del correo electrónico Juan.meza.2021@upb.edu.co</p>

                          <h2>Jurisdicción</h2>
                          <p>Los presentes términos y condiciones se regirán por las leyes de la República de Colombia.</p>

                          <h2>Consentimiento</h2>
                          <p>Al registrarse en la Aplicación, el Usuario acepta los presentes términos y condiciones.</p>

                          <h2>Ejemplos de aplicación</h2>
                          <p>Los siguientes son algunos ejemplos de cómo se podrían aplicar los términos y condiciones en el login y el register de la aplicación "CodeMania":</p>
                          <p>En el login:</p>
                          <p>- El Usuario deberá proporcionar su nombre de usuario y contraseña para iniciar sesión.</p>
                          <p>- El Usuario deberá confirmar su identidad mediante un código de verificación enviado a su correo electrónico.</p>
                          <p>En el register:</p>
                          <p>- El Usuario deberá proporcionar los datos requeridos, como su nombre completo, correo electrónico, nombre de usuario y contraseña.</p>
                          <p>- El Usuario deberá confirmar su identidad mediante un código de verificación enviado a su correo electrónico.</p>
                          <p>- El Usuario deberá aceptar los términos y condiciones.</p>
                          <p>Estos son solo algunos ejemplos, y el equipo de desarrollo de "CodeMania" podrá adaptarlos según sus necesidades específicas.</p>

                        </div>
                    </div>
                    </ng-template>


                    <ng-template #modalEjemplo>
                      <div class="container3 overflow-y-auto max-h-[601px] z-10">
                        <div class="flex flex-col items-center">
                          <img src="../../../../assets/images/success.png" class="w-[175px] h-[175px] text-center">
                          <p class="text-center font-medium text-[50px]">¡Exito!</p>
                          <p class="text-center font-normal text-[#535252]">El usuario se ha creado con éxito.<br> ¡Listo para entrar en The Nexus Battle II!</p>

                        </div>
                    </div>
                    </ng-template>


