

#contenedor-vitrina {
  background-color: #111A2B;
  height: calc(125vh - 100px);
  
  /* height: 100%; */
}

.fondt{
  background-color: #111a2b;
  height: 100%;
  width: 100%;
  position: absolute;

  z-index: 2;
}

#username, #password{
  width: 600px;
  height: 50px;
  border-radius: 11px;
}

.cajahome{

  background-color: #111a2b;
  height: 100%;
  z-index: 1;
}

.bienvenida{
  background-image: url('../../../../assets/images/homecel.png');
  background-size: cover;
  height: 450px;
  width: 450px;
  z-index: 2;
}

.btnenter{

  border-radius: 21px;
  background-color: #374154;
  height: 38px;
  font-size: 17px;
  width: 150px;
  cursor: pointer;
  transition: transform.5s;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

.btnenter:hover{
  background-color: #2d3542;
}
