
<main id="contenedor-vitrina" class="relative bg-center">


  <!-- Contenido -->
  <div class="cajahome flex flex-col justify-center items-center -mt-16">


  <div id="logoNexusBattle" class="relative mb-10">
    <a href="#" class="flex items-center space-x-4">
      <img src="../../../../assets/images/Escudo_UPB.png" class="w-[100px] h-[100px]" alt="Nexus Battle II Logo"/>
      <p class="text-white text-[60px]">UPB</p>
    </a>
  </div>

    <div class="flex z-10 space-x-2 text-[12px] mb-12">
      <h1 class="text-[#6997EB]">Iniciar Sesion</h1><h1 class="text-[#737A89]">or</h1><h1 class="text-[#737A89] hover:text-[#8990a0] cursor-pointer" ><a href="/register">Registro</a></h1>
    </div>

        <form [formGroup]="loginForm"(ngSubmit)="onSubmit()">

          <div class="flex flex-col">
            <label for="username" class="text-[#6279A4] text-[21px] mb-2">Usuario</label>
            <input type="text" id="username" formControlName="username" required
            [ngClass]="{'invalid:border-red-600': showCustomError, 'focus:invalid:border-red-600 focus:invalid:ring-red-600': showCustomError}">
          </div>
          <br>
          <br>

          <div class="flex flex-col">
            <label for="password" class="text-[#6279A4] text-[21px] mb-2">Contraseña</label>
            <input type="password" id="password" formControlName="password" required
            [ngClass]="{'invalid:border-red-600': showCustomError, 'focus:invalid:border-red-600 focus:invalid:ring-red-600': showCustomError}">
          </div>



          <div class="flex items-center justify-around mt-6">

            <mat-error class="text-[16px] text-red-400  hover:underline max-w-[400px] text-center">
              {{ getErrorMessage() }} <a href="/recovery" class="text-[#546586] " id="linkRecovery" >¿Olvidaste tu contraseña? Recupérala aquí.</a>
            </mat-error>

            <button class="btnenter mr-10  text-white" type="submit" (click)="showSavedData()">Iniciar Sesión</button>

          </div>
      </form>
    </div>







</main>




        <!-- <main class="Fondo">


            <div class="flex items-center justify-center mt-[5%]">
                <div class="box">
                    <div class="inner-box">
                        <div class="inc">
                            <h2>Iniciar Sesión</h2>
                            <h3>Ingresa tus datos</h3>
                        </div>

                        <form [formGroup]="loginForm"(ngSubmit)="onSubmit()">
                            <label for="username" >Nombre Usuario</label>
                            <input type="text" id="username" formControlName="username" required
                            [ngClass]="{'invalid:border-red-600': showCustomError, 'focus:invalid:border-red-600 focus:invalid:ring-red-600': showCustomError}">
                            <br>
                            <label for="password" >Contraseña</label>
                            <input type="password" id="password" formControlName="password" required
                            [ngClass]="{'invalid:border-red-600': showCustomError, 'focus:invalid:border-red-600 focus:invalid:ring-red-600': showCustomError}">


                             <mat-error class="text-[12px] text-red-600 mt-2 ml-3 max-w-[390px]">
                              {{ getErrorMessage() }} <a href="/recovery" id="linkRecovery" >¿Olvidaste tu contraseña? Recupérala aquí.</a>
                             </mat-error>


                            <br>

                            <div class="BTN flex flex-col items-center">

                              <button class="btnenter" type="submit" (click)="showSavedData()">Iniciar Sesión</button>

                              <p class="">!Sin cuenta aun? Que esperas unete!</p>

                              <a href="/register" class="btnenter pt-[4px]" type="submit">Registrarte</a>
                          </div>
                        </form>


                        <div class="image-container">

                            <a href="#"><img class="imglogo" src="../img/Logo.png" alt=""></a>
                            <img class="imglogo2" src="../../../../assets/images/caballero2.png" alt="">


                        </div>
                    </div>


                </div>
            </div>
        </main> -->


